.h1 {
  padding-top: 90px;
}
.column {
  padding-top: 50px;
}
.foto {
  padding-top: 50px;
}
.text {
  padding: 80px;
}
.foto2 {
  padding-bottom: 60px;
}
.huruf {
  text-align: left;
  font-size: 20px;
}
.nav {
  background-color: (0, 0, 0, 0.6);
  background: linear-gradient(135deg, (255, 255, 255, 0.1), (255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 (0, 0, 0.37);
  -webkit-margin-start: auto;
}
a.active,
a:hover {
  background: #8a10a5;
  transition: 0.5s;
  color: #5f6f52;
  border-radius: 10px;
}
